@{
    ViewData["Title"] = "Users - Admin Area";
}

<div class="container">
    <h1>User list</h1>
    <table id="userTable" class="table table-striped table-bordered  table-responsive-md">
        <thead>
            <tr>
                <th>User guid</th>
                <th>Email</th>
                <th>Date</th>
                <th>Disabled</th>
                <th>Token</th>
                <th>Revoked</th>
                <th>Type</th>
                <th>Uploads</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (User user in Model.Users)
                {
                    <tr>
                        <td align="center" valign="middle">@user.Guid</td>
                        <td align="center" valign="middle">@(!string.IsNullOrWhiteSpace(user.Email) ? user.Email : "Anonymous")</td>
                        <td align="center" valign="middle">@user.CreatedAt.ToString("G")</td>
                        <td align="center" valign="middle">@user.Disabled</td>
                        <td align="center" valign="middle">@user.Token.Guid</td>
                        <td align="center" valign="middle">@user.Token.Revoked</td>
                        <td align="center" valign="middle">@user.Token.TokenType</td>
                        <td align="center" valign="middle"><a class="btn btn-info" asp-area="" asp-controller="Admin" asp-action="Uploads" asp-route-userGuid="@user.Guid">See @user.Uploads.Count uploads</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>